body {
    background: rgb(237, 237, 143);
}

.photo {
    border: 2px solid black;
    border-radius: 30%;
}

#title, .subtitle, .post_title {
    color: rgb(65, 65, 154);
}


.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(133, 62, 201);
    padding: 15px;
    border: 3px solid rgb(89, 29, 29);
    margin-bottom: 15px;
    border-radius: 5px 10px;    
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
}

